{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
<section class="py-5" style="background-color: #ffffff;">
  <div class="container-fluid h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
      {% endfor %}
      <div class="col col-xl-10">
        <div class="card" style="border-radius: 1rem;">
          <div class="row g-0">
            <!-- Section image -->
            <div class="col-md-6 col-lg-5 d-flex align-items-center justify-content-center mt-5">
              <img class ="rounded" src="{{ asset('/img/passyass.jpg') }}"
                alt="login form" class="img-fluid" style="max-width: 80%; border-radius: 1rem 0 0 1rem;" />
            </div>
            <!-- Section formulaire -->
            <div class="col-md-6 col-lg-7 d-flex align-items-center">
              <div class="card-body p-4 p-lg-5 text-black">
                <form method="post">
                  {% if error %}
                    <div class="alert alert-danger rounded">
                      {{ error.messageKey|trans(error.messageData, 'security') }}
                    </div>
                  {% endif %}

                  {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connecté en tant que {{ app.user.userIdentifier }}, 
                        <a href="{{ path('app_logout') }}">Déconnexion</a>
                    </div>
                  {% endif %}


                  <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Identifiez-vous</h5>

                  <div class="form-floating mb-3">
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Entrez votre adresse email" autocomplete="email" required autofocus>
                    <label for="inputEmail" >Email</label>
                  
                  </div>

                  <div  class="form-floating mb-3">
                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Entrez votre mot de passe" autocomplete="current-password" required>
                    <label for="inputPassword">Mot de passe</label>
                  
                  </div>

                  <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                  <div class="form-check mb-2 text-left">
                    <input type="checkbox" class="form-check-input" id="customControlInline" name="remember_me">
                    <label class="custom-control-label" for="customControlInline">{{ 'Se souvenir de moi'|trans }}</label>
                  </div>

                  <div class="pt-1 mb-4">
                    <button class="btn btn-primary btn-lg btn-block w-100" type="submit">S'identifier</button>
                  </div>

                  <a class="small text-muted" href="#">Mot de passe oublié ?</a>
                  <p class="mb-5 pb-lg-2" style="color: #393f81;">Vous n'avez pas encore de compte ? 
                    <a href="{{ path('app_register') }}" style="color: #393f81;">S'inscrire ici</a>
                  </p>
                  <a href="#!" class="small text-muted">Conditions d'utilisation</a>
                  <a href="#!" class="small text-muted">Politique de confidentialité</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
